__pycache__/
all_plots_final/
all_results/
all_results_previous/
all_results_new/
all_results_new2/
all_trained_models/
all_trained_models_new/
data/
latex/
microarray_data_prepared/
microarray_data_raw/
playground/
synthetic_data/
peer_review/
readme_private.txt
transfer_results.sh
.DS_Store
